@use "root" as root;

.blog-article-wrapper {
  width: 100%;
}

.blog-title-thumbnail {
  display: flex;

  &.mobile {
    display: block;
  }
}
.blog-page-thumnail-wrapper {
  position: relative;
  width: 20rem;
}
.blog-body {
  padding: 1.5rem 0;
  > ol,
  ul {
    padding: 0 0 0 1.5rem;
  }
}

.blog-breadcrumbs {
  padding: 1rem;
  position: sticky;
  top: 4rem;
  z-index: 1;
}

@media only screen and (max-width: 36rem) {
  .blog-page-thumnail-wrapper {
    width: 100%;
  }
}

@media only screen and (max-width: 48rem) {
  .blog-page-thumnail-wrapper {
    width: 100%;
  }
}
