@use "root" as root;
.project-card {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;

  > .project-thumbnail-wrapper {
    height: 15rem;
    overflow: hidden;
    position: relative;
    width: 100%;
  }

  > .project-info-wrapper {
    padding: 0.7rem 0.5rem;
  }
}

.project-thumbnail-src {
  transition: 0.2s all ease;
}
.project-card:hover .project-thumbnail-src {
  transform: scale(1.2);
}
